#start{
    text-align: center;
    background: rgb(107, 107, 255);
}

#resultRow{
    text-align: center;
}
body{
    text-align: center;
}
.copy_right_footer{
    position:fixrd;
    bottom:0;
    width:100%;
    text-align: center;
    color: red;
    font: italic;
}

img :hover{
    border-radius: 140px;
    box-shadow: 0 6px 0 8px rgba(2, 2, 2, 0.2) ;
}
